.header {
  display: flex;
  justify-content: center;
}

.headerlink-title {
  color: #63b3f3;
  font-weight: 440;
  font-size: 18px;
  font-family: "Roboto";
  text-decoration: none;
  padding: 0 5px;
}

.wdw{
  height: 100px;
  width: 350px;
  float: right;
  margin-top: 13px;
}

.card{
  height: wrap-content;
  margin-bottom: 15px;
}

.form{
  float: left;
  width: 50%;
  padding: 30px;
}

.searchBar{
  width: 100%;
}
